.table-contract th:nth-child(1),
.table-contract td:nth-child(1) {
  width: 20px;
}

.table-contract th:nth-child(2),
.table-contract td:nth-child(2) {
}

.table-contract th:nth-child(3),
.table-contract td:nth-child(3) {
  text-align: center !important;
  width: 80px;
}

.table-contract th:nth-child(4),
.table-contract td:nth-child(4) {
  text-align: center !important;
  width: 1px;
}


.table-contract {
  font-size: ($base-font-size * 0.85);
  th, td {
    padding: 1px 5px;
  }
  input {
    font-size: ($base-font-size * 0.85);
    height: 1px;
    width: 50px;
    padding: 7px
  }
}