@import './ProductsSection/styles';
@import './ServicesSection/styles';

.billing-schedule {
  section {
    margin-bottom: $space;
    padding: ($space /2);
  }
  table {
    box-shadow: none !important;
  }
}

.billing-schedule__difference--zero {
  color: $green !important;
}
.billing-schedule__difference--danger {
  color: $red !important;
}
.billing-schedule__equal-charges {
  display: inline-flex;
  height: 35px;
  width: 100%;
  margin: 16px 0 0 0;
  justify-content: center;
  align-items: flex-end;
}

.billing-schedule__scroll-div {
  max-height: 200px;
  overflow-y: scroll;
}

.billing-schedule__value-cell {
  min-width: 120px;
  text-align: right;
}

.billing-schedule__footer {
  display: block;
  width: calc(100% - 17px);
}

.billing-schedule__footer-cell {
  text-align: right;
}