.menu-item {
  color: white;
  cursor: pointer;
  padding: $space ($space /2);
  text-decoration: none;
  position: relative;
  button {
    color: white;
  }
}

.menu-item__parent {
  position: relative;
  display: inline;
}

.menu-item:hover {
  background-color: darken($brand-primary, 5);
}

.menu-item:hover .menu-item__dropbox {
  transform: scaleY(1);
}

.menu-item__dropbox {
    position: absolute;
    margin-top: 14px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    overflow: hidden;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
    width: 100px;
    a {
      display: block;
      color: $dark-grey;
      cursor: pointer;
      padding: ($space /2);
      text-decoration: none;
    }
    a:hover {
      background-color: darken(white, 15);
    }
}