.menu-item {
  color: white;
  cursor: pointer;
  padding: $space ($space /2);
  text-decoration: none;
  position: relative;
  font-size: 1.5rem;
  button {
    color: white;
  }
}

.menu-item--user {
  text-align: center;
}

.menu-item__parent {
  position: relative;
  display: inline;
}

.menu-item:hover {
  background-color: darken($brand-primary, 5);
}

.menu-item:hover .menu-item__dropbox {
  transform: scaleY(1);
}

.menu-item__dropbox {
    position: absolute;
    margin-top: 14px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    overflow: hidden;
    z-index: 2;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
    left: 0;
    width: 120px;
    a {
      display: block;
      color: $dark-grey;
      cursor: pointer;
      padding: ($space /2);
      text-decoration: none;
      font-size: 1.5rem;
    }
    a:hover {
      background-color: darken(white, 15);
    }
}

.menu-item__dropbox--user {
  left: -95px;
  button {
    display: block;
    color: $dark-grey;
    padding: ($space /2);
    width: 100%;
    text-align: right;
    font-size: 1.5rem;
  }
  button:hover {
    background-color: darken(white, 15);
  }
}

@media screen and (max-width: 700px) {
  .menu-item {
    width: 100%
  }
  .menu-item__dropbox {
    left: -120px;
    top: -14px;
  }
}