.register-data__variations-block {
  max-height: 396px;
  overflow-y: auto;
}

.register-accessories__table__variations-column {
  width: 100px;
}

.register-accessories__table__add-new-column {
  text-align: center;
  width: 50px;
  font-size: 20px;
}