.register-containers__module-block, .register-containers__fixed-block {
  margin-bottom: ($space /2);
}

.register-containers__transaction__title {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.register-containers__module__checkbox {
  padding: 0 ($space * 3);
  justify-content: space-between !important;
}