.app__footer {
  color: $dark-grey;
  font-style: italic;
}

.app__footer__user {
  position: fixed;
  bottom: ($space /2);
  left: ($space /2);
}

.app__footer__version {
  position: fixed;
  bottom: ($space /2);
  right: ($space /2);
}