.custom-input--cep__button {
  background: $brand-primary;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  right: 7px;
  height: 20px;
  width: 20px;
}