.shipping__receive-receive-table {
  margin-bottom: $space;
}

.shipping__sub-list {
  width: 800px;
}

.shipping__sub-list__scroll {
  max-height: 500px;
  overflow: auto;
}

.shipping__sub-list__add-new {
  padding: 0;
  button {
    width: 100%;
    height: $space * 2;
    text-transform: uppercase;
  }
}