* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
}

.page-content {
  margin: 0 auto;
  max-width: $site-max-width;
  padding: $space;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

h4 {
  margin: ($space /2) 0;
}

p {
  margin-bottom: $space;
}

a {
  color: $black;
}

ul, ol {
  padding-left: $space;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

legend {
  font-size: $large-font-size;
  padding: 0 $space;
}

// textarea {
//     font-family: inherit;
//     font-size: $base-font-size;
//     border: 1px solid $input-border;
//     resize: none;
//     overflow: hidden;
//     padding: ($space /2);
//     width: 100%;
// }

input, select, textarea {
  height: 35px;
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin: 0;
  padding: $input-spacing;
}

textarea {
  font-family: inherit;
  resize: none;
  overflow: hidden;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}

.main-scene {
  box-shadow: $box-shadow-spread;
  background: $light-grey;
}

.main-scene__body {
  padding: $space;
}

.main-scene__information--proposal {
  display: grid;
  grid-gap: ($space /2);
  grid-template-columns: repeat(12, 1fr);
}

.main-scene__information--contract {
  display: grid;
  grid-gap: ($space /2);
  grid-template-columns: repeat(12, 1fr);
}

.main-scene--disabled {
  pointer-events: none;
}

.main-scene__total-value {
  text-align: center;
  font-weight: bold;
}
.error-message {
  color: red;
  text-align: center;
  height: 20px;
}