.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  font-size: $base-font-size;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.button:hover {
  background-color: darken($button-bg, 10%);
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  min-width: 28px;
  padding: ($space /2);
  transition: color 0.3s, background-color 0.3s;
}

.button--pill:hover {
  color: white;
  background-color: $button-pill-color;
}

.button--disabled {
  background-color: $grey;
  border: 1px solid $dark-grey;
  color: $dark-grey;
  font-style: italic;
  cursor: initial;
}

.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}

.button--secondary:hover {
  background-color: darken($button-secondary-bg, 10%);
}

.button--danger {
  background: $button-danger-bg;
  color: $button-danger-color;
}

.button--danger:hover {
  background-color: darken($button-danger-bg, 10%);
}

.button--green {
  background: $green;
}

.button--green:hover {
  background-color: darken($green, 10%);
}

.button--link-text {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
}