.disable-click {
  pointer-events: none;
  cursor: inherit;
}

.grid-span-2 {
  grid-column-end: span 2;
}
.grid-span-3 {
  grid-column-end: span 3;
}
.grid-span-4 {
  grid-column-end: span 4;
}
.grid-span-5 {
  grid-column-end: span 5;
}
.grid-span-6 {
  grid-column-end: span 6;
}

@media screen and (max-width: 700px) {
  .hide-at-700px {
    display: none;
  }
}