.error-message {
  color: red;
  text-align: center;
  height: 20px;
}

.disable-click {
  pointer-events: none;
  cursor: inherit;
}

.no-padding {
  padding: 0 !important;
}

// Grid
.grid-span-2 {
  grid-column-end: span 2;
}
.grid-span-3 {
  grid-column-end: span 3;
}
.grid-span-4 {
  grid-column-end: span 4;
}
.grid-span-5 {
  grid-column-end: span 5;
}
.grid-span-6 {
  grid-column-end: span 6;
}

// Media-Queries
@media screen and (max-width: 700px) {
  .hide-at-700px {
    display: none;
  }
}