// Colors
$brand-primary: #f7931b;
$brand-primary-light: #ffb760;

$black: #424242;

$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;

$red: #8e1b1b;
$light-red: #ff4d4d;

$green: #1f9138;
$yellow: #8e7f1c;

$light-blue: #42bcf4;
$dark-blue: #1c536d;
// Contract Colors
$active: $green;
$inactive: $yellow;
$cancelled: $red;
$finalized: $light-blue;
$prorogation: $dark-blue;

// Spacing
$space: 1.4rem;
$site-max-width: 150rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: .8rem;

// Regular view
$loading-color: rgba($brand-primary, 0.9);
$box-shadow-spread: 0px 0px 62px 4px rgba(0,0,0,0.2);
$box-shadow-contained: 2px 3px 6px 0px rgba(0,0,0,0.2);

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-width: 80rem;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;
$button-danger-bg: $light-red;
$button-danger-color: white;
$button-danger-border-color: $grey;

// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

// Footer
$footer-text-color: $dark-grey;