// Colors
$brand-primary: #5b4681;
$grey: #dddddd;
$light-grey: #f9f9f9;
$dark-grey: #777777;
$red: #ad0808;
$light-red: #ff4d4d;
//Status-Colors
$active: #1f9138;
$inactive: #8e7f1c;
$cancelled: #8e1b1b;

// Spacing
$space: 1.4rem;
$site-max-width: 150rem;

// Font sizes
$base-font-size: 1.4rem;
$large-font-size: 1.8rem;

// Form inputs
$input-border: $grey;
$input-spacing: .8rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-width: 80rem;

// Button
$button-bg: $brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;
$button-danger-bg: $light-red;
$button-danger-color: white;
$button-danger-border-color: $grey;

// Header
$header-bg: $brand-primary;
$header-color: white;

// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-grey;

// Footer
$footer-text-color: $dark-grey;