@import './ProductsSection/styles';
@import './ServicesSection/styles';

.billing__section {
  margin-top: 10px;
  border: 1px solid $grey;
  padding: ($space /2);
  textarea {
    font-size: 1.2rem;
  }
}

.billing__difference--zero {
  color: $green !important;
}
.billing__difference--danger {
  color: $red !important;
}
.billing__equal-charges {
  display: inline-flex;
  height: 61px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  button {
    height: 35px;
    width: 100%;
    margin: 0;
  }
}