.calendar-bar {
  position: relative;
  overflow: visible;
}

.calendar-bar__input {
  input {
    padding-left: 32px !important;
    cursor: pointer;
    color: black;
    background: white;
  }
}

.calendar-bar__input--disabled {

}

.calendar-bar__icon {
  position: absolute;
  z-index: 1;
  left: 1rem;
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.5;
}

.calendar-bar__box__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $space;
  button {
    cursor: pointer;
  }
}
.calendar-bar__box__table {
  border: 1px solid $black;
  border-collapse: collapse;
  th {
    cursor: pointer;
    padding: ($space /4);
  }
  td {
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: ($space /4);
  }
}
.calendar-bar__box__table tr:nth-child(even) {
  background-color: $grey;
}
.calendar-bar__box__day--grayed {
  background-color: $dark-grey;
  cursor: default !important;
  font-style: italic;
}
.calendar-bar__box__day--active {
  background-color: $green !important;
}