@import './Cep/styles';
@import './Checkbox/styles';

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  input, select {
    width: 100%;
  }
}

.input input:disabled {
  color: $dark-grey;
  background: $light-grey;
  cursor: inherit;
}

.input textarea:disabled {
  color: $dark-grey;
  background: $light-grey;
  cursor: inherit;
}

.input select:disabled {
  color: $dark-grey;
  background: $light-grey;
}

input[type="file"] {
    display: none;
}

.input__file__label {
  text-align: center !important;
  background: $light-grey;
  border: 1px solid $grey;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.input__file__icon {
  display: inline-grid !important;
}
.input__file__max {
  font-style: italic;
  color: $dark-grey;
}
.input__file__scroll {
  height: 300px;
  overflow-y: auto;
}
.input__file__wide-cell {
  text-align: left;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}