.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  font-size: $base-font-size;
  line-height: 1.2;
  padding: $input-spacing;
  text-transform: uppercase;
  cursor: pointer;
}

.icon {
  background: none;
  border: none;
  color: $black;
  width: 100%;
}

.button--link {
  display: inline-block;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  min-width: 28px;
  padding: ($space /2);
}

.button--disabled {
  background-color: $grey;
  border: 1px solid $dark-grey;
  color: $dark-grey;
  margin: ($space /2);
  min-width: 28px;
  padding: .3rem .8rem;
  font-style: italic;
  cursor: initial;
}

.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}

.button--danger {
  background: $button-danger-bg;
  color: $button-danger-color;
}

.button--green {
  background: $green;
}

.button--table-x {
  padding: ($space /4);
  background: none;
  border: none;
  cursor: pointer;
}

.button--table-edit {
  padding: ($space /4);
  background: none;
  border: none;
  cursor: pointer;
}

.button--link-text {
  background: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-transform: none;
}