.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid $dark-grey;
  padding: ($space /4) ($space /2) ($space /4) ($space /2);
  text-align: left;
}

.table tr:nth-child(even) {
  background-color: $grey;
}

.table__sort-div {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  margin-right: 5px;
}