.table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-width: $site-max-width;
  box-shadow: $box-shadow-contained;
  white-space: nowrap;
}

.table__wide {
  text-align: left;
  width: 100%;
}

.table th {
  position: sticky;
  top: 0;
  background: white;
  background-clip: padding-box;
  padding: ($space /4) ($space /2) ($space /4) ($space /2);
  border-top: none;
  border-bottom: none;
  border-left: 1px solid $dark-grey;
  border-right: 1px solid $dark-grey;
  box-shadow: inset 0 1px 0 $dark-grey;
}

.table td {
  border: 1px solid $dark-grey;
  padding: ($space /4) ($space /2) ($space /4) ($space /2);
}

.table tr:nth-child(even) {
  background-color: $grey;
}

.table__small-column {
  text-align: center;
  width: 1px;
  white-space: nowrap;
}

.table__small-column--wrap {
  text-align: left;
  min-width: 300px;
  white-space: normal;
}

.table__td-button {
  padding: 0 !important;
  button {
    min-width: 35px;
    min-height: 35px;
  }
}