.table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  box-shadow: $box-shadow-contained;
}

.table th,
.table td {
  border: 1px solid $dark-grey;
  padding: ($space /4) ($space /2) ($space /4) ($space /2);
}

.table tr:nth-child(even) {
  background-color: $grey;
}

.table__small-column {
  text-align: center;
  width: 1px;
  white-space: nowrap;
}

.table__small-column--wrap {
  text-align: left;
  min-width: 300px;
  white-space: normal;
}