.database__table__button {
  height: 23px;
  width: 23px;
  padding: ($space /4);
  background: none;
  border: none;
  cursor: pointer;
}

.database__table {
  .small-column {
    text-align: center;
    width: 1px;
    white-space: nowrap;
  }
}