.database__table__button {
  height: 23px;
  width: 23px;
  padding: ($space /4);
  background: none;
  border: none;
  cursor: pointer;
}

.database__scroll-div {
  margin-top: $space;
  overflow-y: auto;
  height: 70vh;
}

.database__table {
  .small-column {
    text-align: center;
    width: 1px;
    white-space: nowrap;
  }
  .small-column--wrap {
    text-align: center;
    min-width: 300px;
    white-space: normal;
  }
}