.billing {
  box-shadow: $box-shadow-spread;
  background: $light-grey;

  h3 {
    text-align: center;
    margin: $space;
  }
  h4 {
    margin: $space;
  }
}

.billing__information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: ($space /2);
  margin: ($space /2);
}

.billing__bill-box {
  width: 60vw;
}

.billing__bill-box__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  label {
    font-weight: bold;
  }
}

.billing__bill-box__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: ($space /2);
  margin: $space 0;
}

.billing-history__table-products,
.billing-history__table-services {
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.billing-history__account-cell {
  max-width: 100px;
}

.billing-history__status-cell {
  max-width: 170px;
}

.billing-history__button-cell {
  width: 1px;
}