@import './ModularScreen/styles';

.item-list__selection {
  display: flex;
  justify-content: space-between;
}
.item-list__selection__edit-button {
  padding: ($space /4);
  background: none;
  border: none;
  cursor: pointer;
}
.item-list__selection__table {
  .medium-column {
    text-align: center;
    width: 120px;
  }
  .buttom-column {
    text-align: center;
    width: 42px;
  }
}
.item-list__selection__scroll-block {
  height: 500px;
  overflow-y: auto;
}
.item-list__selection__database {
  flex-grow: .8;
  flex-basis: 1px;
}
.item-list__selection__added-items {
  flex-grow: 1;
  flex-basis: 1px;
  label {margin-bottom: 10px;}
}