.contract__information {
  display: grid;
  grid-template-columns: auto auto;

  // grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  // grid-column-gap: ($space /2);
  // padding: ($space /2);
  // .input {
  //   height: 50px;
  // }
  .span2 {
    grid-column-end: span 2;
  }
  .span4 {
    grid-column-end: span 4;
  }
}
.contract__information > div {
  display: grid;
  padding: ($space /2);
  grid-column-gap: ($space /2);
  grid-template-columns: auto auto auto auto auto auto;
}

@media screen and (max-width: 900px) {
  .contract__information > div {
    grid-template-columns: auto;
  }
  .contract__information {
    .span2 {
      grid-column-end: span 1;
    }
    .span4 {
      grid-column-end: span 1;
    }
  }
}
