.add-services__select {
  flex-grow: 1;
  margin: ($space /2);
}

.add-services__left-side {
  display: flex;
  text-align: left;
  width: 50%;
}

.add-services__right-side {
  text-align: right;
  width: 50%;
}

.add-services__input--small {
  width: 2.2rem;
}

.add-services__input--medium {
  width: 6rem;
}

.add-services__line-div-container {
  text-align: left;
}

.add-services__line-div {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.add-services__label {
  border: none;
  color: $dark-grey;
  flex-grow: 1;
  font-style: italic;
  margin: ($space /2);
}

.button--fix {
  height: 40px;
}