.contract {
  border: 1px solid $dark-grey;
  background: $light-grey;
}
//HEADER
.contract__header {
  background: $grey;
  height: 70px;
  position: relative;
}

.contract__overtitle {
  color: $dark-grey;
  font-size: ($base-font-size * 0.85);
  top: 0;
  left: 2px;
}

.contract__top-buttons {
  top: 0;
  right: 0;
  button {
    cursor: pointer;
    font-size: 2.1rem;
    height: 25px;
    line-height: 1px;
    margin-left: 5px;
  }
  .content-inside {
    background: yellow;
  }
}

.contract__header div {
  position: absolute;
  margin: 10px;
}

.contract__title {
  bottom: 0;
  left: 0;
  line-height: 1px;
}

.contract__subtitle {
  color: $dark-grey;
  bottom: 0;
  right: 0;
}

.contract--active {
  color: $active;
}

.contract--inactive {
  color: $inactive;
}

.contract--cancelled {
  color: $cancelled;
}

//BODY
.contract__body {
  padding: $space;
}
//BODY-TOP
.contract__body--top {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contract__item-wrap {
  padding: 5px;
  width: 50%;
  display: inline-flex;
  justify-content: space-between;
  > div {
    flex-basis: 1px;
    flex-grow: 1;
  }
  label {
    display: block;
    margin-left: 10px;
  }
  select, input {
    width: 100%;
    vertical-align: bottom;
  }
  .contract__item-wrap--margin-right {
    margin-right: 5px;
  }
  .contract__item-wrap--force-small {
    flex-grow: 0.49;
  }
  .contract__zip-button {
    cursor: pointer;
    margin-left: -20px;
    margin-bottom: 7px;
  }
}

.contract__item--calendar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  div {
    flex-basis: 150px;
    margin: 0;
  }
}
//BODY-MIDDLE
.contract__body--middle {
  height: 500px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.contract__list-container {
  margin: 10px 0;
  input {
    text-align: right;
  }
}

//BODY-BOTTOM
.contract__body--bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  button {
    width: calc(50% - 5px);
  }
  div {
    color: $footer-text-color;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}

//OTHER
.contract__box-view {
  position: relative;
  background-color: $boxed-view-bg;
  padding: 2.4rem;
  text-align: center;
  width: 500px;
  h3 {
    margin-bottom: $space;
  }
}

.contract__box-view--documents {
  .contract__box-view--body > div {
    margin-bottom: $space;
  }
  label {
    cursor: pointer;
  }
}

.contract__box-view--billing {
  width: 800px !important;
  .contract__box-view--body > div {
    margin-bottom: $space;
  }
  label {
    cursor: pointer;
  }
}

.contract__box-view--footer {
  margin-top: 10px;
  width: 100%;
  button {width: 100%;}
}