.edit-users__main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-users__main-div > label {
  font-size: $base-font-size;
  margin: ($space /2);
  padding: $input-spacing;
}

.edit-users__left-labels {
  flex-basis: 110px;
  text-align: left;
}

.edit-users__full-input {
  flex-basis: 600px;
  flex-grow: 1;
}

.edit-users__email {
  flex-basis: 220px;
  flex-grow: 1;
}

.edit-users--remove {
  flex-basis: 600px;
}