.edit-user-types__main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-user-types__main-div > label {
  font-size: $base-font-size;
  margin: ($space /2);
  padding: $input-spacing;
}

.user-types__full-input {
  flex-basis: 400px;
  flex-grow: 1;
}

.edit-user-types--remove {
  flex-basis: 500px;
}

.edit-user-types__fieldset {
  margin: $space 25%;
  padding: $space 50px;
  text-align: left;
  width: 50%;
}