.edit-clients__div {
  background-color: $light-grey;
  border: 0 solid $grey;
  border-width: 0 1px 1px 1px;
  padding: ($space /2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-clients__select-type {
  margin: $space auto;
}

.edit-clients__left-label {
  width: 120px;
}