.edit-services__main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-services__main-div > label {
  font-size: $base-font-size;
  margin: ($space /2);
  padding: $input-spacing;
}

.edit-services__main-div > input[type=text] {
  flex-grow: 1;
}

.edit-services__main-div > input[type=number] {
  width: 60px;
}

.edit-services--remove {
  flex-basis: 500px;
}