.form__row {
  padding: ($space /2);
  text-align: left;
  width: 100%;
}

.form--with-tabs {
  background-color: $light-grey;
  border: 0 solid $grey;
  border-width: 0 1px 1px 1px;
  position: relative;
  margin-bottom: ($space /2);
}

.form__half-column-1of2 {
  display: inline-block;
  padding-right: ($space /2);
  width: 50%;
}

.form__half-column-2of2 {
  display: inline-block;
  padding-left: ($space /2);
  width: 50%;
}

.form__row label {
  display: block;
  margin-left: ($space /2);
  font-size: inherit;
}

.form__row > input, .form__row > div > input {
  width: 100%;
}

.error-message {
  color: $light-red;
}