.list-view__table > theader > tr, .list-view__table > tbody > > tr {
  border: 1px solid $dark-grey;
}

.list-view__tbody {
  width: 100%;
}

.list-view-table-row {
  display: flex;
  padding-left: .5rem;
}

.list-view__tbody > tr > td {
  padding: ($space /2) 0 ($space /2) 2rem;
}

.list-view__left-align {
  text-align: left;
  min-width: 70px;
}

.list-view__right-align {
  text-align: right;
}

.list-view__small {
  width: 40px;
}

.list-view__medium {
  width: 100px;
}

.list-view__edit {
  width: 1px;
}

.list-view__button {
  margin: 0 !important;
  width: 54px !important;
}

.list-view--item-div {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.list-view--grow-1 {
  flex-grow: 1;
}

.list-view__sort-div {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  margin-right: 5px;
}

.list-view__sort-div > button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}