@import './Billing/styles';

.contract__header {
  background: $grey;
  height: 70px;
  position: relative;
}

.contract__header div {
  position: absolute;
  margin: 10px;
}

.contract__top-buttons {
  top: 0;
  right: 0;
  button {
    cursor: pointer;
    font-size: 2.1rem;
    height: 25px;
    width: 25px;
    border: none;
    background: white;
    line-height: 1px;
    margin-left: 5px;
  }
  .content-inside {
    background: yellow;
  }
}

.contract__overtitle {
  color: $dark-grey;
  font-size: ($base-font-size * 0.85);
  top: 0;
  left: 2px;
}

.contract__title {
  bottom: 0;
  left: 0;
  line-height: 1px;
}

.contract__subtitle {
  color: $dark-grey;
  bottom: 0;
  right: 0;
}

.contract--active {
  color: $active;
}

.contract--inactive {
  color: $inactive;
}

.contract--cancelled {
  color: $cancelled;
}