.table--billing--services {
  font-size: $base-font-size;
  th:nth-child(1),
  td:nth-child(1) {
    text-align: center !important;
    min-width: 70px;
  }
  th:nth-child(2),
  td:nth-child(2) {
    text-align: center !important;
    min-width: 150px;
  }
  th:nth-child(3),
  td:nth-child(3) {
    text-align: left !important;
    width: 100%;
  }
  th:nth-child(4),
  td:nth-child(4) {
    text-align: right !important;
    min-width: 100px;
    font-style: italic;
    color: $dark-grey;
  }
  th:nth-child(5),
  td:nth-child(5) {
    text-align: right !important;
    min-width: 120px;
  }
  thead {
    display: block;
    margin-right: 17px;
  }
  tbody {
    display: block;
    max-height: 500px;
    overflow-y: scroll;
  }
  tfoot {
    display: block;
    margin-right: 17px;
    th {
      font-weight: bold;
    }
    th:nth-child(1),
    td:nth-child(1) {
      text-align: right !important;
      width: 100%;
    }
    th:nth-child(2),
    td:nth-child(2) {
      text-align: right !important;
      min-width: 120px;
    }
  }
  th, td {
    padding: 5px 5px;
  }
  textarea {
    min-height: 1px;
  }
  input {
    font-size: $base-font-size;
    width: 100%;
    padding: 7px;
  }
}
