.agenda__month-title {
  display: flex;
  justify-content: center;
  h3 {
    width: 200px;
    text-align: center;
  }
}

.agenda__table {
  width: 100%;

  td, th {
    position: relative;
    text-align: center;
    height: 60px;
    width: 60px;
  }
  button {
    width: 100%;
    height: 100%;
    cursor: inherit;
  }
}

.agenda__day--today {
  display: inline;
  padding: 10px;
  border-radius: 100%;
  border: 7px solid $grey;
}

.agenda__day--active {
  border: 1px solid $grey;
}

.agenda__day--inactive {
  background: $grey;
  button {
    font-style: italic;
  }
}

.agenda__day--content {
  background: $brand-complementary;
}

.agenda__day--content:hover .agenda__hoverbox {
  transform: scaleY(1);
}

.agenda__hoverbox {
  position: absolute;
  display: block;
  background: $light-grey;
  z-index: 100;
  overflow: hidden;
  margin-top: 14px;
  padding: 10px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s;
  text-align: left;
  white-space: nowrap;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

.agenda__star {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  margin: 2px;
}

.agenda__day--inactive {
  font-style: italic;
}