.register-users__selection-block {
  margin-bottom: ($space /2);
}

.register-users__selection-block__title {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.register-users__selection-block__checkbox {
  padding: 0 ($space * 3);
  justify-content: space-between !important;
}