@import './ProductSelection/styles';

.contract__item-list {
  position: relative;
  margin: 10px 0;
  cursor: pointer;
  input {
    text-align: right;
  }
}
.contract__item-list__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $brand-primary;
  div {
    color: white;
    font-size: 30px;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
.contract__item-list__overlay:hover {
  opacity: .9;
}
.contract__item-list__table .small-column {
  width: 1px;
  text-align: center;
}