.billing-schedule__products-section {
  background: antiquewhite;
}

.billing-schedule__products-header {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-column-gap: $space;
  margin: ($space /2) 0;
}