.manage-items {
  width: ($site-max-width / 1.5);
}

.manage-items__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px 1fr;
  grid-gap: $space;
  height: 50vh;
}

.manage-items__subtitle {
  margin-bottom: 10px;
}

.manage-items__buttom-column {
  padding: 0 !important;
  button {
    width: 25px;
    height: 25px;
  }
}