.manage-items {
  width: $site-max-width;
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    grid-gap: $space;
    height: 50vh;
  }
  &__subtitle {
    margin-bottom: 10px;
  }
  &__wrapper {
    overflow: auto;
  }
  &__table {
    white-space: normal;
  }
}