.manage-items {
  width: 80vw;
}

.manage-items__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $space;
  align-items: flex-start;
  height: 50vh;
}

.manage-items__selection {
  display: flex;
  justify-content: space-between;
}
.manage-items__selection__edit-button {
  padding: ($space /4);
  background: none;
  border: none;
  cursor: pointer;
}
.manage-items__selection__table {
  .medium-column {
    text-align: center;
    width: 120px;
  }
  .buttom-column {
    text-align: center;
    width: 42px;
  }
}
.manage-items__selection__scroll-block {
  overflow-y: auto;
}
.manage-items__selection__database {
  margin-top: $space;
}
.manage-items__selection__added-items {
  label {margin-bottom: 10px;}
}