.client-setup {
  width: 60%;
}

.client-setup__proposal-title {
  margin-bottom: $space;
}

.client-setup__proposal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  grid-gap: ($space /2);
  margin-bottom: $space;
}

.client-setup__client-body {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: end;
}

.client-setup__add-new-button {
  height: 35px;
  // padding: ($space /2);
}

.client-setup__label {
  display: inline-block;
  font-weight: bold;
  min-width: 120px;
  margin-right: ($space /2);
}