@import './ImageUploader/styles';

.image-visualizer {
  img {
    width: auto;
    max-width: 70vw;
    max-height: 60vh;
  }
}

.image-visualizer__date {
  text-align: left;
  font-style: italic;
}
.image-visualizer__controls-wrap {
  font-size: 2rem;
  margin-top: ($space /2);

  button {
    margin: 0 10px;
    background: none;
    border: none;
    font-size: 2rem;
  }
}