@import './Documents/styles.scss';

.main-header {
  background: $grey;
  display: grid;
  padding: $space;
  grid-template-columns: 1fr 1fr;
}

.main-header__created-by {
    color: $dark-grey;
    font-size: 1.2rem;
    top: 0;
    left: 2px;
}

.main-header__title {
  display: flex;
  h1 {
    line-height: 3.5rem;
    margin-bottom: 0;
  }
}

.main-header__snapshot-selection {
  display: inline-block;
}

.main-header__right-side {
  text-align: right;
}

.main-header__button {
  font-size: 1.6rem;
  background: white;
  margin-left: 5px;
  margin-bottom: 5px;
}