@import './Modular/styles';

.register-containers--choose-type {
  width: 50vw;
  .register-containers--choose-type__buttons {
    .button--pill {
      padding: 20px;
      width: 300px;
    }
  }
}

.register-containers__flyer {
  display: flex;
  align-items: center;
  label {
    margin-right: 10px;
  }
  input {
    flex-grow: 1;
  }
}