@import './AsyncAnimation/styles';

.database-status {
  overflow: hidden;
  border-radius: 20px;
  width: 50%;
}

.database-status__loading::after {
  content: "";
  animation: etc 3s infinite;
}

@keyframes etc {
  0% {
    content: ""
  }
  25% {
    content: "."
  }
  50% {
    content: ".."
  }
  75% {
    content: "..."
  }
  100% {
    content: ""
  }
}