.box-overlay {
  align-items: center;
  background: fade-out($boxed-view-overlay-bg, .3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: $space;
  z-index: 100;
}

.box {
  background-color: $boxed-view-bg;
  padding: 2.4rem;
  text-align: center;
  position: relative;
  outline: none;
  overflow: hidden;
  width: 100%;
  max-width: $site-max-width;
  max-height: 100%;
  overflow: auto;
}

.box__header {
  margin-bottom: $space;
}

.box__subtitle {
  font-style: italic;
}

.box__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.box__help-button {
  position: absolute;
  top: 5px;
  left: 5px;
}