.flyer-creator {
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flyer-creator__body {
  flex-grow: 1;
}