.stock-transition {
  width: 800px;
}

.stock-transition__places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $space;
  margin: $space 0;
}

.stock-transition__place-strip {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $grey;
  label {
    overflow: hidden;
    white-space: nowrap;
    background: $brand-primary;
    padding: 5px;
  }
}

.stock-transition__empty-list {
  padding: 30px;
  background: $grey;
  font-style: italic;
  border-radius: 5px;
}