@import './BuySell/styles';

.stock-visualizer__place-block {
  background: $brand-primary;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  line-height: 35px;
  text-align: left;
  padding-left: ($space /2);
  div {
    padding: 0px;
  }
}